<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <form #clienteForm="ngForm">
      <!-- Se define una variable global clienteForm para nuestra vista formulario a la que se le asigna el objeto ngForm.
          Con el objeto ngForm se puede saber si el formulario es válido o no -->
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" required minlength="4" #nombre="ngModel">
          <!-- #nombre: Variable local a la que se le asigna el objeto ngModel el cual contiene los mensajes de error que se presenten -->
          <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <!-- nombre.dirty: Para mostrar el mensaje de error a medida que vamos escribiendo -->
            <!-- nombre.touched: Para mostrar el mensaje de error cuando nos salimos del foco del input -->
            <div *ngIf="nombre.errors.required">
              <!-- Solo cuando falla el required -->
              Nombre es requerido
            </div>
            <div *ngIf="nombre.errors.minlength">
              <!-- Solo cuando falla el required -->
              Nombre debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" required #apellido="ngModel">
          <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
            <div *ngIf="apellido.errors.required">
              Apellido es requerido
            </div>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" required email #email="ngModel">
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.errors.required">
              Email es requerido
            </div>
            <div *ngIf="email.errors.email">
              Email debe tener un formato válido
            </div>
          </div>
        </div>
      </div>

      <div class="from-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button>
          <!-- Se agrega la directiva disabled. Se usa la variable clienteForm a la que se le asignó el objeto ngForm para validar si el formulario es válido o no -->
          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!clienteForm.form.valid">Editar</button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
